<nav role="navigation" class="navbar navbar-default">
    <!-- Logo e menu si comprimeranno per una migliore visualizzazione mobile -->
    <div class="navbar-header navbar-header-front-end">
        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">☰</button>
        <a class="navbar-brand navbar-brand-front-end">NEWS PROJECT</a>
    </div>

    <!-- Menu che verrà compresso al diminuire della risoluzione -->
    <div id="navbarCollapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li tabindex="1"><a ng-click="home.changeCategory('')">HOME</a></li>
            <li ng-repeat="category in home.category track by $index" tabindex="{{$index + 1}}"><a
                    ng-click="home.changeCategory(category.name)">{{category.name}}</a></li>
        </ul>
    </div>
</nav>